
							<div class="c-contactform">
								<form>
									<div class="form-row">
										<label class="form-label">Imię</label>
										<input type="text" placeholder="Twoje imię" class="form-field">
									</div>
									
									<div class="form-row">
										<label class="form-label">E-mail</label>
										<input type="text" placeholder="Wpisz swój e-mail" class="form-field">
									</div>
									
									<div class="form-row">
										<label class="form-label">Wiadomość</label>
										<textarea placeholder="Wpisz wiadomość" class="form-field"></textarea>
									</div>
									
									<div class="form-row">
										<button type="submit" class="o-btn"><span>Wyślij wiadomość</span></button>
									</div>
								</form>
							</div>
