
							<div class="c-contact__map">
								<div class="form-label">Sala treningowa</div>

								<a href="#">
									<img src=<%= require("./img/assets/map.png") %> alt="map" width="217" height="435">
								</a>
							</div>
