
	<footer id="kontakt">
		<div class="o-section o-section--pattern">
			<div class="o-wrap">
				<header class="o-header o-header--up text-center">
					<h2 class="o-lead o-lead--2">Kontakt</h2>
				</header>
				
				<h5 class="o-lead o-lead--5 text-center">Napisz do nas, odpiszemy najszybciej jak to możliwe. :)</h5>

				<div class="c-contact">					
					<div class="o-cols">
						<div class="o-cols__item anim anim--up">
							<% include contactform %>
						</div>
						
						<div class="o-cols__item anim anim--delay1 anim--up">
							<% include contactdetails %>
						</div>
						
						<div class="o-cols__item anim anim--delay2 anim--up">
							<% include contactmap %>
						</div>
					</div>
				</div>				
			</div>
		</div>
		
		<div class="c-bottomline">
			 Copyright &copy; 2019 www.cialoumysloddech.pl
		</div>
	</footer>
