
		<div class="c-meetus anim anim--up">
			<div class="o-section o-section--pattern">
				<div class="o-wrap">		
				
					<header class="o-header o-header--border o-header--up text-center">
						<h2 class="o-lead o-lead--2">Poznaj nas</h2>
					</header>					
					
					<div class="glide" id="meetus">
						<div class="glide__track" data-glide-el="track">
			                <ul class="glide__slides">
				                
								<li class="glide__slide">
									<div class="c-meetus__item">
										<figure>
											<div class="image">
												<img src=<%= require("./img/photos/meetus/monika.jpg") %> alt="Monika Rostecka" width="370" height="370">
											</div>
										
											<figcaption>
												<h4 class="o-lead o-lead--3">Monika Rostecka</h4>
												<p>Aktorka Wrocławskiego Teatru Pantomimy im. H. Tomaszewskiego, absolwentka Akademii Muzycznej na kierunku choreografia i techniki tańca, posiadaczka dyplom ZASP-u, pedagog teatru ruchu i świadomości ciała.</p>
											</figcaption>
										</figure>
										
										<div class="c-more">
											<a href="monika.html" class="o-btn">Więcej</a>
										</div>
									</div>
								</li>
								
								<li class="glide__slide">
									<div class="c-meetus__item">
										<figure>
											<div class="image">
												<img src=<%= require("./img/photos/meetus/arkadiusz.jpg") %> alt="Arkadiusz Zając" width="370" height="370">
											</div>
										
											<figcaption>
												<h4 class="o-lead o-lead--3">Arkadiusz Zając</h4>
												<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tempor at quam et finibus. In commodo quam sit amet sollicitudin tincidunt. Praesent consequat metus non consequat bibendum.</p>
											</figcaption>
										</figure>
									</div>
									
									<div class="c-more">
										<a href="monika.html" class="o-btn">Więcej</a>
									</div>
								</li>
							</ul>
			                
			                <div class="glide__arrows" data-glide-el="controls">
			                    <button class="glide__arrow glide__arrow--left icon-arrow" data-glide-dir="<"></button>				                    
			                    <button class="glide__arrow glide__arrow--right icon-arrow" data-glide-dir=">"></button>
			                </div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
