
			<nav class="c-nav js-nav">
				<ul class="c-nav__menu js-menu">
					<li class="icon-home">
						<a href="index.html">&nbsp;</a>
					</li>
					
					<li>
						<a href="o-cuo.html">O CUO</a>
					</li>
					
					<li>
						<a href="monika.html">Monika Rostecka</a>
					</li>
					
					<li class="menu-item-has-children">
						<a href="#">Oferta</a>
						
						<ul>
							<li class="js-goto">
								<a href="oferta.html#zajecia-indywidualne-grupowe">Zajęcia indywidualne i grupowe</a>
							</li>

							<li class="js-goto">
								<a href="oferta.html#oferta-dla-firm-hoteli">Oferta dla firm i hoteli</a>
							</li>
							
							<li class="js-goto">
								<a href="oferta.html#zajecia-online">Zajęcia online</a>
							</li>
						</ul>
					</li>
					
					<li class="js-goto">
						<a href="#kontakt">Kontakt</a>
					</li>
					
					<li class="icon-instagram">
						<a href="#">&nbsp;</a>
					</li>
					
					<li class="icon-facebook">
						<a href="#">&nbsp;</a>
					</li>
				</ul>
			</nav>
