
	<div class="c-top">
		<div class="o-wrap">
			<a href="index.html" class="o-logo">
				<img src=<%= require("./img/assets/logo-cuo.svg") %> alt="cuo" width="173" height="97">
			</a>
			
			<% include nav %>
			
		</div>
	</div>
