.o-lead {
	line-height: 1.2em;

	&--1 {
		@extend %lead--1;
	}
	
	&--2 {
		@extend %lead--2;
	}
	
	&--3 {
		@extend %lead--3;
	}
	
	&--4 {
		@extend %lead--4;
	}
	
	&--5 {
		font: {
			size: rem(16);
		}
	}
}
