
			<div class="o-wrap anim anim--up">		
				<div class="o-section">
				
					<article class="o-article o-article--up aligncenter">

						<h2>Na czym polega CUO?</h2>
						
						<h4 class="aligncenter">CUO to autorski program holistycznego treningu opierającego się na budowaniu świadomości siebie, swojego ciała i otaczającego świata, łączący trzy elementy: Ciało, Umysł i Oddech przez:</h4>
					</article>
					
					<ul class="c-boxes">
						<li class="anim anim--up">
							<dl>
								<dt>
									<img src=<%= require("./img/photos/about.jpg") %> alt="" width="668" height="668">
								</dt>
								
								<dd>
									<article class="o-article">
	
										<ul>
											<li>rozciąganie (stretching),</li>
											<li>wzmacnianie mięśni, </li>
											<li>odpuszczanie napięć w ciele,</li>
											<li>redukcję wagi,</li>
											<li>pracę z ciałem wewnętrznym (fundament trwałych zmian),</li>
											<li>naukę świadomego oddechu,</li>
											<li>medytację w ruchu,</li>
											<li>obserwację myśli i emocji osadzając się w jednym czasie – teraz,</li>
											<li>wyciszenie umysłu i inne - dopasowane do Twoich indywidualnych potrzeb i oczekiwań.</li>
										</ul>
										
										<p>Idea CUO ma swoje źródło w świadomym byciu, które wyłania sięz tezy, że wszystko jest ze sobą połączone.</p>
										
									</article>
								</dd>
							</dl>
						</li>
					</ul>
					
					<article class="o-article">
						<h2 class="aligncenter">Co zyskujesz dzięki CUO?</h2>
						
						<h4 class="text-center">Wreszcie zaczęliśmy zwracać uwagę nie tylko na sprawy materialne, ale i na to, kim jesteśmy, 
	kim się stajemy, czym jest i będzie otaczający nas świat - jaki mamy na to wpływ. 
	Dlatego właśnie nadszedł czas na Ciebie.<br> 
	Praktyka Ciało Umysł Oddech to Twoja droga do Uważności, dzięki której:</h4>
	
	<ul>
		<li>lepiej rozumiesz siebie</li>
		<li>jesteś sobą, spostrzegając i uświadamiając sobie, czym różniło się to, kim jesteś, a jak siebie postrzegasz</li>
		<li>rozpoznasz powtarzające się schematy, jakimi posługujesz się w życiu i odkryjesz, czym wypełnić pustkę, jak zmienić niepewność.</li>
	</ul>
	
	<p>Świadome życie oznacza wolność. Podejmij wybór, wykonaj pierwszy krok - to Ty masz moc zmiany. Zmiana jest w Tobie!</p>	

						<section class="o-video">
							<iframe width="560" height="315" src="https://www.youtube.com/embed/0CRvBevQTq0?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
						</section>
					</article>
				</div>
				
				
			</div>
