
		<div class="c-hero c-hero--about">
			<div class="o-wrap">
				<article class="o-article o-article--bigfont text-center">
				
	<h2>Ciało Umysł Oddech - CUO</h2>
					
	<p>Alternatywa dla jogi, zajęć pilates i innych aktywności, podczas których osobno pracujesz nad różnymi aspektami swojego ducha i ciała. CUO to myślenie holistyczne o Tobie - harmonizuje umysł, ciało i oddech.</p>
				 
	<p>Nie ogranicza nas jeden typ ćwiczeń. Dopasowuję do Ciebie metody pracy - od tańca, przez gimnastykę, po właściwą postawę i co ważne - rozmowę - wzmacniając Twoją osobowość i&nbsp;odkrywając tożsamość.</p>
	
	<p>CUO to przekonanie o wyjątkowości człowieka i zgoda na poznanie samego siebie.</p>
				</article>
			</div>
		</div>
