.c-boxes {
	@media ( max-width: $tablet_portrait + px ) {
		max-width: 668px;
		margin: 0 auto;
	}

	dl {
		@extend %flex;
		
		@media ( max-width: $tablet_portrait + px ) {
			flex-wrap: wrap;
		}
		
		dt, dd {
			@media ( min-width: $tablet_portrait + 1px ) {
				width: 50%;
			}
		}
		
		dt {
			
			.image {
				@extend %rel;
				display: inline-block;
								
				&:after {
					@extend %abs-pseudo;
					@extend %gradient-3;
					z-index: -1;
					bottom: -3px;
					width: grid(314, 668); height: grid(314, 668);
				}
			}
			
			&.with-image {
				@media ( max-width: $tablet_portrait + px ) {
					order: 2;
				
					& + dd {
						order: 1;
					}
				}
				
			}
		}		
	}
	
	img {
		@media ( min-width: $tablet + 1px ) {
			max-width: none;
		}
	}

	& > {
		li {
			margin-bottom: 80px;
			
			& > .o-article {
				margin-top: -80px;
			}
			
			@media ( max-width: $tablet_portrait + px ) {
				margin-bottom: 60px;
			}
			
			dd {
				@media ( min-width: $tablet_portrait + 1px ) {
					padding-left: grid(65);
				}
			}
			
			dt {
				@media ( min-width: $tablet_portrait + 1px ) {
					padding-right: grid(30);
					direction: rtl;
				}

		
				
				.image {
					&:after {
						right: -3px;
					}
				}
			}
			
			&:not(.is-reverse) {
				@media ( min-width: $tablet_portrait + 1px ) and ( max-width: $tablet + px ) {
					margin: 0 0 0 -20px;
				}
			}

			&.is-reverse {
				
				dd {
					@media ( min-width: $tablet_portrait + 1px ) {
						padding-right: 30px;
						padding-left: 0;
					}
				}
				
				dl {
					flex-direction: row-reverse;
				}
				
				dt {
					direction: ltr;
					padding-right: 0;

					.image {
						&:after {
							left: -3px;
						}
						
						@media ( min-width: $tablet_portrait + 1px ) and ( max-width: $tablet + px ) {
							margin: 0 -20px 0 0;
						}

					}
				}
			}
		}
	}
	
	.o-article {
		padding-top: 20px;
		
		@media ( min-width: $smartphone + 1px ) {
			padding-right: 40px;			
		}
	}
	
	.c-more {
		margin-bottom: 60px;
	}
}