.c-contact {
	max-width: 980px;
    margin: 0 auto;
	padding-top: 60px;
	
	@media ( max-width: $tablet_portrait + px ) {
		max-width: 668px;
		margin: 0 auto;
	}

	&__details {
		@media ( max-width: $tablet_portrait + px ) {
			//flex: 1;
		}

		a[href^="tel:"] {
			font-size: rem(28);
		}
		
		a[href^="mailto:"] {
			font-size: rem(16);
		}
		
		address {
			p {
				font-size: rem(16);
			}
		}
		
		.social {
			@extend %flex;
			
			@media ( max-width: $smartphone_portrait + px ) {
				justify-content: center;
			}
	
			li {
				&:not(:last-child) {
					margin-right: 10px;
				}
			}
			
			a {
				font-size: rem(16);
				
				&:hover {
					color: $c-primary;
				}
			}
		}
		
		.form-label {
			padding: 0;
		}
	}
	
	&__map {
		img {
			display: inline-block;
			border: 1px solid $c-black-01;
		}
		
		.form-label {
			padding: 0;
		}		
	}

	
	.o-cols {
		@media ( max-width: $tablet_portrait + px ) {
			flex-wrap: wrap;
		}

		&__item {
			&:not(:first-child) {
				@media ( min-width: $tablet_portrait + 1px ) {
					padding-left: grid(65, 980);	
				}
			}

			&:first-of-type {
				@media ( min-width: $tablet_portrait + 1px ) {
					width: grid(410, 980);
				}
				
				@media ( max-width: $tablet_portrait + px ) {
					width: 100%;
					margin-bottom: 60px;
				}
			}
			
			&:last-of-type {
				@media ( max-width: $tablet_portrait + px ) {
					margin: 0 0 0 auto;
				}
				
				@media ( max-width: $smartphone_portrait + px ) {
					margin-top: 60px;
				
				}
			}
			
			@media ( max-width: $smartphone_portrait + px ) {
				text-align: center;
			}
		}
	}
}