.c-gallery {
	ul {
		@extend %flex;
		@extend %flex-wrap;
		width: 990px;
		margin: 80px auto 100px auto;
	}
	
	li {
		margin: 10px;
	}
	
	li {
		a {
			display: block;
			overflow: hidden;
			
			&:hover {
				img {
					transform: scale3d(1.1, 1.1, 1.1);
				}
			}
			
			
		}
		
		img {
			@extend %animfix;
			transition: all .5s ease-out;
		}
	}
}