.c-hero {
	height: 700px;
	background: {
		repeat: no-repeat;
		position: center;
		size: cover;
	}
	
	@media ( max-width: $tablet_portrait + px ) {
		height: auto;
	}

	&--about {
		background-image: url(../img/photos/top/about.jpg);
		
		.o-article {
			max-width: 920px;
		}
		
		.o-wrap {
			@extend %flex;
			@extend %flex-xy;
			height: 100%;
			
			@media ( max-width: $tablet_portrait + px ) {
				padding-bottom: 20px;
			}
		}
	}

	&--homevideo {
		background-image: url(../img/photos/home-video.jpg);
	}
	
	&--person {
		@extend %flex;
		@extend %flex-xy;
		background-image: url(../img/photos/top/monika.jpg);
		
		@media ( max-width: $smartphone_portrait + px ) {
			background-position: 36% center;
		}
		
		img {
			@media ( max-width: $tablet_portrait + px ) {
				width: 200px;
			}
		}
		
		.o-article {
			width: grid(600);
			margin: 0 0 0 auto;
			
			@media ( max-width: $tablet_portrait + px ) {
				padding-top: 100px;
				font-size: rem(14);
			}
			
			@media ( max-width: $smartphone_portrait + px ) {
				font-size: rem(12);
			}
		}
	}
}
