.c-nav {
	@extend %flex;
	@extend %flex-y;
	width: 100%;
	height: 100%;
	
	[class^="icon-"] {
		@extend %anim;
		
		@media ( max-width: $tablet_portrait + px ) {
			padding: 10px 0;
		}
		
		&:before {
			display: none;
		}

		a {
			display: inline-block;
			width: 20px;
			padding: 0;
			
			&:before {
				position: absolute !important;
				@extend %abs-pseudo;
				z-index: -1;
				left: 0;// top: 3px;
				font-family: $icomoon;
			}
		}
		
		&:hover {
			//color: $c-primary;
		}		
	}
	
	.icon-facebook {
		a {
			&:before {
				content: "\e901";
			}
		}
	}
	
	.icon-home {
		a {
			&:before {
				content: "\e902";
			}
		}
	}
	
	.icon-instagram {
		a {
			&:before {
				content: "\e903";
			}
		}
	}
	
	.icon-instagram,
	.icon-facebook {
		@media ( max-width: $tablet_portrait + px ) {
			width: 30px;
			margin-top: 10px;
		}
	}

	a {
		@extend %rel;
		font-size: rem(17);
		
		@media ( max-width: $tablet + px ) {
			font-size: rem(16);
		}

		&:hover {
			.desktop & {
				color: $c-primary;
			}
		}
	}

	&__menu {
		@extend %flex;
		width: 100%;
		
		@media ( min-width: $tablet_portrait + 1px ) {
	        align-items: center;
	        margin: 0 0 0 auto;
	    }
	    
	    @media ( max-width: $tablet_portrait + px ) {
		    flex-wrap: wrap;
		    justify-content: center;
	    }
		
		& > li {
			margin: 0 15px;
			
			@media ( max-width: $tablet + px ) {
				margin: 0 10px;
			}
			
			@media ( max-width: $tablet_portrait + px ) {
				width: 100%;
			}
			
			&:hover {
				.desktop & {
					@media ( min-width: $tablet_portrait + 1px ) {
						
						/*
& > a {
							&:before {
								transform: translateY(-50%) rotate(270deg);
							}
						}
*/
	            
			            & > ul {
				            opacity: 1;
				            pointer-events: auto;
				            transform: scale(1) translateY(0);
			            }
		            }
				}
			}
			
			&:nth-child(4) {
				margin: 0 0 0 auto;
			}
			
			&:last-child {
				margin-left: 0;
			}
			
			& > a {
				text-transform: uppercase;
								
				@media ( min-width: $tablet + 1px ) {
					letter-spacing: 1px;
				}
			}			
		}
	}
	
	.menu-item-has-children {
		@extend %rel;
		
		& > a {
			pointer-events: none;

			&:before {
				@extend %abs-pseudo;
				@extend %anim;
				left: -20px; top: 50%;
				transform: translateY(-50%) rotate(90deg);
				font: {
					family: $icomoon;
					size: rem(11);
				}
				content: "\e900";
			}
		}
		
		& > ul {
			
			@media ( min-width: $tablet_portrait + 1px ) {
		        position: absolute;
	        	left: -50px; top: 98%;
				background-color: white;
				border-radius: 0 0 20px 20px;
				padding: 30px 0 0 0;
	            pointer-events: none;
	            opacity: 0;
		        transform-origin: 50% 0;
		        transform: scaleY(.75) translateY(-21px);
		        transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
	        }

			@media ( max-width: $tablet_portrait + px ) {
	        	display: none;
	        }
			
			
			& > li {
				@media ( min-width: $tablet_portrait + 1px ) {
					border: {
						left: 1px solid $c-gray-02;
						right: 1px solid $c-gray-02;
					}
					margin: 0 -1px;
					padding: 0 50px;
					
					&:last-child {
						padding-bottom: 20px;
						border-bottom: 1px solid $c-gray-02;
						border-radius: 0 0 20px 20px;
					}
				}

				a {
					//padding-left: 25px;
					@extend %rel;
					white-space: nowrap;
					
					&:before {
						@extend %abs-pseudo;
						left: -20px; top: 1px;
						font: {
							family: $icomoon;
							size: rem(11);
						}
						content: "\e900";
					}
				}
			}
		}
		
		&.is-active {
			& > ul {
				display: block;
			}
			
			& > a {
				&:before {
					transform: translateY(-50%) rotate(270deg);
				}
			}
		}
	}


	@media ( max-width: $tablet_portrait + px ) {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%; 
        height: 100vh;
        background-color: white;
        transform: translate3d(0, 100%, 0);
        overflow: scroll;
    	-webkit-overflow-scrolling: touch;
    	
        padding-bottom: 40px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
	    text-align: center;
		//flex-direction: column-reverse;
        
        &__menu {
	        width: 100%;
	        margin-bottom: 20px;

            & > li {  
                //opacity: 0;
                //transform: translate3d(0, 10px, 0);
                //transition: all 300ms ease;
                
/*
                &:not(:last-child) {
	                border-bottom: 1px solid $c-gray-05;
                }
*/
                
               /*
 &:nth-child(1) {
                    transition-delay: 300ms;
                }
                                                      
                &:nth-child(2) {
                    transition-delay: 350ms;
                }
                               
                &:nth-child(3) {
                    transition-delay: 400ms;
                }
                
                &:nth-child(4) {
                    transition-delay: 450ms;
                }
                
                &:nth-child(5) {
                    transition-delay: 500ms;
                }
                
                &:nth-child(6) {
                    transition-delay: 550ms;
                }
                
                &:nth-child(7) {
                    transition-delay: 600ms;
                }
                
                &:nth-child(8) {
                    transition-delay: 650ms;
                }
                
                &:nth-child(9) {
                    transition-delay: 700ms;
                }
                
                &:nth-child(10) {
                    transition-delay: 750ms;
                }
                
*/
                /*
& > a {
                    padding: 25px 20px;
                    font-size: rem(15);
                    
                    @media ( max-width: $smartphone + px ) {
                    	font-size: rem(15);
                    }
                }
*/
                
/*
                & > ul {
	                & > li {
		                &:not(:last-child) {
			                border-bottom: 1px solid $c-gray-05;
			            }

	                }
                }
*/
            }
        }
        
        
        

        &.is-visible {
            transition: all 300ms ease;
            transform: translate3d(0,0,0);
            
            .c-searchform {
	            position: relative;
	            //opacity: 1;
                //transform: translate3d(0, 0, 0);
				order: 2;
            }
        }
    }
}