
		<div class="o-wrap anim anim--up">		
			<div class="o-section o-section--inside">
			
				<article class="o-article o-article--up text-center">
					
					<h2>Ciało Umysł Oddech - CUO</h2>
					
					<p>Alternatywa dla jogi, zajęć pilates i innych aktywności, podczas których osobno pracujesz nad różnymi aspektami swojego ducha i ciała. CUO to myślenie holistyczne o Tobie - harmonizuje umysł, ciało i oddech. 
Nie ogranicza nas jeden typ ćwiczeń. Dopasowuję do Ciebie metody pracy - od tańca, przez gimnastykę, po właściwą postawę i co ważne - rozmowę - wzmacniając Twoją osobowość i odkrywając tożsamość.<br>
CUO to przekonanie o wyjątkowości człowieka i zgoda na poznanie samego siebie.</p>

					<section class="c-more">
						<a href="o-cuo.html" class="o-btn">Więcej</a>
					</section>
				</article>

			</div>
		</div>
