
		<div class="c-offer">
			<div class="o-section">
				<div class="o-wrap">		
				
					<header class="o-header o-header--border text-center">
						<h2 class="o-lead o-lead--2">Oferta</h2>
					</header>
					
					<ul class="c-boxes">
						<li class="anim anim--up">
							<dl>
								<dt>
									<span class="image">
										<img src=<%= require("./img/photos/offer.jpg") %> alt="" width="668" height="668">
									</span>
								</dt>
								
								<dd>
									<article class="o-article">
										<h3>Zajęcia indywidualne i&nbsp;grupowe</h3>
										
										<ul>
											<li>podstawowe zajęcia indywidualne</li>
											<li>klasyczne zajęcia grupowe</li>
										</ul>
										
										<p>Praesent eu massa convallis, facilisis felis a, lacinia libero. Donec sapien velit, pharetra in tellus at, sagittis vestibulum nunc.</p>
										
										<ol>
											<li>CUO for models</li>
											<li>CUO for professionals</li>
											<li>CUO senior</li>
										</ol>
									</article>
									
									<div class="c-more">
										<a href="#" class="o-btn">Zobacz szczegóły oferty</a>
									</div>
								</dd>
							</dl>
						</li>
						
						<li class="is-reverse anim anim--up">
							<dl>
								<dt>
									<span class="image">
										<img src=<%= require("./img/photos/company.jpg") %> alt="" width="668" height="668">
									</span>
								</dt>
								
								<dd>
									<article class="o-article">
										<h3>Propozycja dla firm</h3>
										
										<ul>
											<li>zajęcia indywidualne dla pracowników</li>
											<li>zajęcia grupowe w biurze lub w mojej sali ćwiczeń</li>
										</ul>
										
										<p>Praesent eu massa convallis, facilisis felis a, lacinia libero. Donec sapien velit, pharetra in tellus at, sagittis vestibulum nunc. Sed consectetur velit id ultrices accumsan. Quisque a malesuada lectus. Sed consectetur velit id ultrices accumsan. Quisque a malesuada lectus. </p>
										
										<ol>
											<li>CUO for brands</li>
											<li>CUO for hotels</li>
										</ol>
									</article>
									
									<div class="c-more">
										<a href="#" class="o-btn">Zobacz szczegóły oferty</a>
									</div>
								</dd>
							</dl>
						</li>
						
						<li class="anim anim--up">
							<dl>
								<dt>
									<span class="image">
										<img src=<%= require("./img/photos/online.jpg") %> alt="" width="668" height="668">
									</span>
								</dt>
								
								<dd>
									<article class="o-article">
										<h3>Zajęcia online</h3>
																				
										<p>Praca nad sobą nie ma daty przydatności, ani konkretnego terminu rozpoczęcia. </p>

<p>Dlatego zapisz się na subskrypcję (co tydzień będziesz mieć udostępnione nowe video z ćwiczeniami w wersji PRO, a co dwa tygodnie w wersji BASIC)</p>
										
										<ol>
											<li>Wideo ćwiczenia</li>
											<li>Webinary</li>
										</ol>
									</article>
									
									<div class="c-more">
										<a href="#" class="o-btn">Zobacz szczegóły oferty</a>
									</div>
								</dd>
							</dl>
						</li>
					</ul>
					
				</div>
			</div>
		</div>
