<% include ./src/includes/head %>
<body style="overflow: hidden">

	<% include ./src/includes/top %>

	<main class="o-container">
		
		<% include ./src/includes/home/hero %>
		<% include ./src/includes/home/intro %>
		<% include ./src/includes/meetus %>
		<% include ./src/includes/home/oferta %>
		
	</main>
	
	<% include ./src/includes/footer %>

</body>
</html>
