<% include ./src/includes/head %>
<body style="overflow: hidden">

	<% include ./src/includes/top %>

	<main class="o-container">
		
		<% include ./src/includes/monika/hero %>
		
		<div class="o-wrap">
			<article class="o-article o-article--bigfont text-center">
				
				<h2>Monika Rostecka</h2>
				
	<p>Monika Rostecka brała udział w licznych warsztatach o tematyce duchowej, pracy z ciałem wewnętrznym, takich jak Germańska medycyna, II stopień Reiki, uwalnianie wzorców, ustawienia metodą B.Hellingera, 
	praktyki medytacyjne, joga, chi gong, praca z głosem i oddechem. Dzięki doświadczeniom prywatnym i zawodowym oraz ciągłym rozwijaniu siebie buduje nową metodę budowania świadomości własnego, wewnętrznego “ja”. Autorka unikalnej metody pracy z ciałem, umysłem i oddechem - CUO. </p>
	
	<p>Twoja partnerka w odkrywaniu siebie i przewodnik wydobywania potencjału oraz wewnętrznego piękna.</p>
	
				<h2>Kolekcja Moniki Rosteckiej</h2>
				
				<p>Morbi quis consectetur felis. In eget dui mattis, gravida quam nec, viverra nulla. Donec laoreet eros et nunc tincidunt, quis porttitor lorem varius. Nulla non lacinia lorem. Integer nec ex commodo metus ultrices vestibulum </p>
			</article>
			
			<% include ./src/includes/gallery %>
		</div>
		
	</main>
	
	<% include ./src/includes/footer %>

</body>
</html>
