<% include ./src/includes/head %>
<body style="overflow: hidden">

	<% include ./src/includes/top %>

	<main class="o-container">
		
		<% include ./src/includes/about/hero %>
		<% include ./src/includes/about/about %>
		
	</main>
	
	<% include ./src/includes/footer %>

</body>
</html>
