<% include ./src/includes/head %>
<body style="overflow: hidden">

	<% include ./src/includes/top %>

	<main class="o-container">
		
		<div class="c-offer">
			<div class="o-section">
				<div class="o-wrap">		
				
					<header class="o-header o-header--border o-header--up text-center">
						<h2 class="o-lead o-lead--2">Oferta</h2>
					</header>
					
					<ul class="c-boxes">
						<li class="anim anim--up" id="zajecia-indywidualne-grupowe">
							<dl>
								<dt class="with-image">
									<span class="image">
										<img src=<%= require("./img/photos/offer.jpg") %> alt="" width="668" height="668">
									</span>
								</dt>
								
								<dd>
									<article class="o-article">
										<h3>Zajęcia indywidualne i&nbsp;grupowe</h3>
										
										<ul>
											<li>podstawowe zajęcia indywidualne</li>
											<li>klasyczne zajęcia grupowe</li>
										</ul>
										
										<ol>
											<li>CUO for models</li>
										</ol>
										
										<p>W pracy modelki ważne jest nie tylko utrzymanie skupienia, kreatywność, ale też - przede wszystkim - praca nad ciałem. Stąd CUO - Ciało Umysł Oddech - dopasowane do potrzeb początkujących w branży, jak i tych, którzy mają za sobą lata doswiadczeń, pomaga wspierać rozwój i budować tożsamość podczas sesji zdjęciowych, reklam, planów filmowych, udziału w pokazach i wszelkiej innej aktywności. </p>
									</article>
								</dd>
							</dl>
						</li>
						
						<li class="anim anim--up">
							<dl>
								<dt>
									<article class="o-article">
										<ol>
											<li>CUO for professionals</li>
										</ol>

										<p>Jesteś tancerzem, aktorem, pracujesz przez ekspresję swojego ciała i myśli? 
Dzięki zajvęciom CUO będziesz bardziej świadomie wyrażać emocje i każdy ruch. Zrealizujesz wizję artystyczną, wejdziesz w rolę, zrozumiesz swoją postać i odkryjesz, w jaki sposób ją zaprezentować.</p>
									</article>
								</dt>
								
								<dd>
									<article class="o-article">
										<ol>
											<li>CUO senior</li>
										</ol>
										
										<p>Wspólnie lub indywidualnie popracujemy nad kondycją, oddechem i zachowaniem swojego ciała oraz mentalności w zdrowiu i dobrym poczuciu! Pracując w metodzie CUO dbam o Twoje Ciało, Umysł i Oddech, wnosząc w życie harmonię, radość i spokój.</p>
									</article>
								</dd>
							</dl>
						</li>
						
						<li class="is-reverse anim anim--up">
							<dl>
								<dt class="with-image">
									<span class="image">
										<img src=<%= require("./img/photos/client.jpg") %> alt="" width="668" height="668">
									</span>
								</dt>
								
								<dd>
									<article class="o-article">
										<ol>
											<li>CUO z dojazdem do klienta</li>
										</ol>
										
										<p>Jesteś mamą? Masz ułożony harmonogram dnia i trudno jest Ci znaleźć czas na dodatkowe zajęcia? A może jest jakiś inny powód, dla którego wolisz zajęcia w swoim domowym zaciszu? Nic nie stoi na przeszkodzie! Najważniejsze, że podejmujesz decyzję o pracy nad swoim ciałem, umysłem i oddechem.</p> 
<p>W sprawie indywidualnych ustaleń skontaktuj się mailowo, a uzgodnimy, w jaki sposób i w jakim terminie mogę dotrzeć do Ciebie.</p>
									</article>
								</dd>
							</dl>
						</li>
						
						<li class="anim anim--up" id="oferta-dla-firm-hoteli">
							<dl>
								<dt class="with-image">
									<span class="image">
										<img src=<%= require("./img/photos/company.jpg") %> alt="" width="668" height="668">
									</span>
								</dt>
								
								<dd>
									<article class="o-article">
										<h3>Propozycja dla firm</h3>
										
										<ul>
											<li>zajęcia indywidualne dla pracowników</li>
											<li>zajęcia grupowe w biurze lub w mojej sali ćwiczeń</li>
										</ul>

										<ol>
											<li>CUO for hotels</li>
										</ol>
										
										<p>W pracy modelki ważne jest nie tylko utrzymanie skupienia, kreatywność, ale też - przede wszystkim - praca nad ciałem. Stąd CUO - Ciało Umysł Oddech - dopasowane do potrzeb początkujących w branży, jak i tych, którzy mają za sobą lata doswiadczeń, pomaga wspierać rozwój i budować tożsamość podczas sesji zdjęciowych, reklam, planów filmowych, udziału w pokazach i wszelkiej innej aktywności. </p>
										
										<p>W ramach CUO mogę przygotować:<br>
- zajęcia indywidualne dla pracowników<br>
- zajęcia grupowe - otwarte zapisy na wybrane godziny ćwiczeń w biurze lub w mojej sali ćwiczeń.</p>

<p>Skontaktuj się, aby dowiedzieć się więcej i&nbsp;porozmawiać o możliwościach naszej współpracy. </p>
									</article>
								</dd>
							</dl>
						</li>
						
						<li class="is-reverse anim anim--up" id="zajecia-online">
							<dl>
								<dt class="with-image">
									<span class="image">
										<img src=<%= require("./img/photos/online.jpg") %> alt="" width="668" height="668">
									</span>
								</dt>
								
								<dd>
									<article class="o-article">
										<h3>Zajęcia online</h3>
										
										<p>Praca nad sobą nie ma daty przydatności, ani konkretnego terminu rozpoczęcia.</p>

<p>Dlatego zapisz się na subskrypcję (co tydzień będziesz mieć udostępnione nowe video z ćwiczeniami w wersji PRO, a co dwa tygodnie w wersji BASIC).</p>

										<ol>
											<li>Wideo ćwiczenia</li>
										</ol>
										
										<p>w formie kanału na youtube lub cyklicznie pokazywanych ćwiczeń na instagramie / facebooku</p>
										
										<ol>
											<li>Wideo ćwiczenia</li>
										</ol>
										
										<p>w formie kanału na youtube lub cyklicznie pokazywanych ćwiczeń na instagramie / facebooku</p>
									</article>
								</dd>
							</dl>
						</li>
					</ul>
				</div>
			</div>
		</div>
		
	</main>
	
	<% include ./src/includes/footer %>

</body>
</html>
